$baseFont: "Roboto", sans-serif;
$buttonColor: #495d7a;
$baseColor: #444262;

* {
  box-sizing: border-box;
  transition: all 0.3;
  scroll-behavior: smooth;
}

html,
body,
.wrapper {
  width: 100%;
  height: 100%;
  font-family: $baseFont;
}

a {
  text-decoration: none;
  outline: none;
  color: $baseColor;
}
input {
  outline: none;
}

.wrapper {
  width: 100vw;
  height: 100vh;
}
.fpcontainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $baseColor;
  position: relative;
}
.title {
  width: 100%;
  text-align: center;
  font-family: Aguafina Script;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 149px;
  color: #000000;
  text-shadow: 0px 4px 4px #c0bdbd;
  user-select: none;
}
.panel {
  width: 550px;
  height: max-content;
  background: #c4c4c4;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.63);
  border-radius: 29px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  &__inputs {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  &__welcome,
  &__steptext {
    text-align: center;
    font-style: italic;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
  }
  &__steptext {
    margin-left: -65px;
    margin-right: -65px;
  }
  &__designs {
    background: #eaeaea;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    padding: 10px 15px;
    margin: 10px -65px 0px -65px;
  }
  &__design {
    margin-bottom: 10px;
    cursor: pointer;
    img {
      width: 150px;
    }
    &:nth-child(n + 1) {
      margin-right: 5px;
    }
  }
  &__design-selected {
    outline: 2px solid #8d1515;
    outline-offset: 3px;
    transition: none;
  }
  &__button {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  &__buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  &__payments {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 200px;
    max-height: 400px;
    overflow-y: scroll;
  }
}
.payments {
  &__payment {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
  }
}
.payment {
  &__label {
    font-style: italic;
  }

  &__text {
    margin-left: 5px;
  }

  &__plusminus {
    display: flex;
    align-items: center;
    margin-left: 5px;
    img {
      &:last-child {
        margin-left: 5px;
      }
      width: 19px;
      cursor: pointer;
      transition: none;
      &:active {
        transform: scale(0.8);
      }
      &:hover {
        outline: 1px solid black;
        outline-offset: 2px;
      }
    }
  }
}
.hide {
  visibility: hidden;
  opacity: 0;
}

.firststep {
  margin-top: 25px;
}

.inputs {
  &__input {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}
.input {
  &__label {
    font-size: 15px;
    font-style: italic;
    margin-bottom: 3px;
  }

  &__text {
    width: 100%;
    display: flex;
  }
}

.error {
  position: absolute;
  right: 40px;
  transition: 0s;
  margin-top: 1px;
}

.vh {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.rinput,
.linput {
  width: 100%;
  height: 30px;
  border: 1px solid #e9e9e9;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  padding: 0 10px;
}
.linput {
  height: 50px;
  width: 400px;
  border-radius: 18px;
  margin-top: 15px;
  text-align: center;
  font-size: 31px;
  line-height: 36px;
}
.button {
  outline: none;
  border: none;
  min-width: 180px;
  text-align: center;
  margin-top: 25px;
  padding: 16px 35px;
  font-style: italic;
  color: #d6d6d6;
  font-size: 18px;
  background: $buttonColor;
  border-radius: 18px;
  filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.71));
  cursor: pointer;
  user-select: none;
  &:hover {
    transform: scale(1.1);
  }
  &:active {
    transform: scale(1);
  }
}
.checkbox {
  display: flex;
  align-items: center;
  font-style: italic;

  input {
    width: 25px;
    height: 25px;
    margin-right: 5px;
    cursor: pointer;
  }
  label {
    user-select: none;
    cursor: pointer;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-1000%) translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #c4c4c4;
  border: 1px solid $baseColor;
  padding: 20px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.63);
  &__text {
    margin-bottom: 10px;
  }

  &__button {
    padding: 8px 25px;
  }
}
.modal-active {
  transform: translateX(-50%) translateY(-50%);
}

.workplace {
  background: #c4c4c4;
  width: 1200px;
  height: 700px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 25px;
  border: solid gray 3px;
  overflow: hidden;

  &__left {
    // width: 300px; //max-content
    flex-basis: 20%;
    height: 100%;
    background: #9c9c9c;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
  }

  &__right {
    flex-basis: 80%;
    height: 100%;
    position: relative;
  }

  &__item {
    width: 100%;
    height: 50px;
    border-bottom: dotted rgb(87, 87, 87) 1px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 15px;
    user-select: none;
    cursor: pointer;
    &:hover {
      background: #c4c4c4;
      color: rgb(63, 54, 102);
    }
  }

  &__config,
  &__goods,
  &__users,
  &__orders,
  &__reports {
    width: 98%;
    height: 100%;
    overflow-y: scroll;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
  }
  &__goods{
    fieldset{
      width: 100%;
    }
  }
  &__ok {
    margin-left: 5px;
    outline: none;
    text-decoration: none;
    font-size: 9pt;
    cursor: pointer;
    &.pay,
    &.del,
    &.des {
      width: 80%;
      height: 30px;
    }
  }

  &__designs {
    display: flex;
    flex-flow: wrap;
    justify-content: flex-start;
    padding: 10px 15px;
    max-height: 300px;
    overflow-y: scroll;
  }

  &__design {
    // flex-basis: 33.33333%;
    cursor: pointer;
    width: max-content;
    margin-bottom: 10px;
    &:not(:nth-child(3n + 3)) {
      margin-right: 10px;
    }
    img {
      width: 150px;
    }
  }
}
.reports {
  &__text {
    width: 100%;
    display: flex;
    align-items: center;
    a {
      margin-left: 20px;
      display: none;
    }
  }
}

.back {
  text-decoration: underline;
  font-style: italic;
  font-weight: bold;
  letter-spacing: 0.5px;
}
.okbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  width: 100%;
}

fieldset {
  padding-top: 10px !important;
  border: dotted rgb(87, 87, 87) 1px;
  border-radius: 10px;
  width: 50%;
  background: rgb(223, 223, 223);
  &.design {
    min-width: 555px;
  }
  &.payment {
    // max-height: 300px;
    // overflow-y: scroll;
  }
  &.orders{
    width: 100%;
  }
}

.report{
  font-size: 15pt;
  padding: 5px 10px;
}

.import-avito-product-result{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  div{
    margin-bottom: 7px;
  }
}

.avito-images{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
  img{
    margin-right: 15px;
    margin-bottom: 7px;
  }
}


.pesontedan {
  position: relative;
  margin-bottom: 1px;
  width: 100%;
  color: #f3f1f1;
  overflow: hidden;
}

.pesontedan input[class=chkbx] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.pesontedan label[class=lbl] {
  position: relative;
  display: block;
  padding: 0 0 0 1em;
  background: #444262;
  line-height: 3;
  cursor: pointer;
  text-shadow: 0 1px 0 #333131;
  font-size: 17px;
  &:hover{
    background: #63608F;
  }
}


.pesontedan-content {
  max-height: 0;
  overflow: hidden;
  background: #0d7b8e;
  font-size: 14px;
  color: #fffdfd;
}

.pesontedan-content {
  background: #0f6f80;
}
.pesontedan-content p {
  margin: 1em;
}

.pesontedan input[class=chkbx]:checked ~ .pesontedan-content {
  max-height: 100vh;
  padding: 20px;
}

.pesontedan label[class=lbl]::after {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 3em;
  height: 3em;
  line-height: 3;
  text-align: center;
  -webkit-transition: all .40s;
  -o-transition: all .40s;
  transition: all .40s;
}
.pesontedan input[class=chkbx] + label[class=lbl]::after {
  content: "+";
}

.pesontedan input[class=chkbx]:checked + label[class=lbl]::after {
  transform: rotate(315deg);
}

#got-work{
  background: dimgray;
  &:hover{
  background: rgb(155, 155, 155);
  }
}