$baseFont: "Roboto", sans-serif;
$buttonColor: #495d7a;
$baseColor: #444262;

* {
  box-sizing: border-box;
  transition: all 0.3s;
  scroll-behavior: smooth;
}

html,
body,
.wrapper {
  width: 100%;
  height: 100%;
  font-family: $baseFont;
}

a {
  text-decoration: none;
  outline: none;
  // color: $baseColor;
}
input {
  outline: none;
}

.wrapper {
  width: 100vw;
  height: 100vh;
}
.fpcontainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $baseColor;
  position: relative;
}
.title {
  width: 100%;
  text-align: center;
  font-family: Aguafina Script;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 149px;
  color: #000000;
  text-shadow: 0px 4px 4px #c0bdbd;
  user-select: none;
}
.panel {
  width: 550px;
  height: max-content;
  background: #c4c4c4;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.63);
  border-radius: 29px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  &__inputs {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  &__welcome,
  &__steptext {
    text-align: center;
    font-style: italic;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
  }
  &__steptext {
    margin-left: -65px;
    margin-right: -65px;
  }
  &__designs {
    background: #eaeaea;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    padding: 10px 15px;
    margin: 10px -65px 0px -65px;
  }
  &__design {
    margin-bottom: 10px;
    cursor: pointer;
    img {
      width: 150px;
    }
    &:nth-child(n + 1) {
      margin-right: 5px;
    }
  }
  &__design-selected {
    outline: 2px solid #8d1515;
    outline-offset: 3px;
  }
  &__buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  &__payments {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 200px;
    max-height: 400px;
    overflow-y: scroll;
  }
}
.payments {
  &__payment {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
  }
}
.payment {
  &__label {
    font-style: italic;
  }

  &__text {
    margin-left: 5px;
  }

  &__plusminus {
    display: flex;
    align-items: center;
    margin-left: 5px;
    img {
      &:last-child {
        margin-left: 5px;
      }
      width: 19px;
      cursor: pointer;
      transition: none;
      &:active {
        transform: scale(0.8);
      }
      &:hover {
        outline: 1px solid black;
        outline-offset: 2px;
      }
    }
  }
}
.hide {
  visibility: hidden;
  opacity: 0;
}

.firststep {
  margin-top: 25px;
}

.inputs {
  &__input {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}
.input {
  &__label {
    font-size: 15px;
    font-style: italic;
    margin-bottom: 3px;
  }

  &__text {
    width: 100%;
  }
}

.rinput,
.linput {
  width: 100%;
  height: 30px;
  border: 1px solid #e9e9e9;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  padding: 0 10px;
}
.linput {
  height: 50px;
  width: 400px;
  border-radius: 18px;
  margin-top: 15px;
  text-align: center;
  font-size: 31px;
  line-height: 36px;
}
.button {
  min-width: 180px;
  text-align: center;
  margin-top: 25px;
  padding: 16px 35px;
  font-style: italic;
  color: #d6d6d6;
  font-size: 18px;
  background: $buttonColor;
  border-radius: 18px;
  filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.71));
  cursor: pointer;
  user-select: none;
  &:hover {
    transform: scale(1.1);
  }
  &:active {
    transform: scale(1);
  }
}
.checkbox {
  display: flex;
  align-items: center;
  font-style: italic;

  input {
    width: 25px;
    height: 25px;
    margin-right: 5px;
    cursor: pointer;
  }
  label {
    user-select: none;
    cursor: pointer;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(500%) translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #c4c4c4;
  border: 1px solid $baseColor;
  padding: 20px;
  &__text {
    margin-bottom: 10px;
  }

  &__button {
    padding: 8px 25px;
  }
}
.modal-active {
  transform: translateX(-50%) translateY(-50%);
}
